.sidebar {
  background-image: linear-gradient(40deg, #e00909, #e90a8cfa);
  position: fixed;
  left: 0;
  height: 100vh;
}
.sidebar ul li {
  margin: 10px 0;
}
@media (max-width: 598px) {
  .sidebar {
    height: 100%;
  }
  .sidebar ul li {
    margin: 5px 0;
  }
}
