.review-container {
  margin-top: 5rem;
  width: 100%;
  background-image: url("../../../images/cover3.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.review-overlay {
  width: 100%;
  height: 100%;
  background: rgba(243, 140, 200, 0.575);
  display: flex;
  align-items: center;
}
.review-card {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.review-box {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.52);
}
.user-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  /* margin-bottom: 1.5rem; */
  transform: translateY(-2.5rem);
}

@media (max-width: 598px) {
  .review-card {
    grid-template-columns: repeat(1, 1fr);
  }
}
